@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif; 
  color: black;
}
body {
  width: 100vw;

}

/* Nav section */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: black;
}
.navbar .links {
  margin-left: 35%;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f7efe9;
}
/* Hero Section */
.content {
  background-color: #f7efe9;
  height: 400px;
  margin: auto;
  padding: 20px;
  display: flex;  
justify-content: center;  
align-items: center;  
}

.home h2 {
  font-size: 51px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;

}

.home p{
  font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.btn {
width: 200px;
    height: 40px;
    background: black;
    border: 2px solid black;
    color: white;
    font-size: 15px;
   margin-top: 20px;
   margin-left: 500px;
}

/* About Section */
.about h2{
  font-size: 51px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 20px;
  text-align: center;
}

.about p{
  font-size: 20px;
    text-align: center;
    font-weight: 500;
}

/* Dashboard Section */

.dashboard h2{
  font-size: 51px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 20px;
  text-align: center;
}

.dashboard p{
  font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.btn2 {
  width: 200px;
      height: 40px;
      background: black;
      border: 2px solid black;
      color: white;
      font-size: 15px;
     margin-top: 20px;
     margin-left: 350px;
  }

/* Contact Section */
.contact {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.contact label {
  text-align: left;
  display: block;
}
.contact h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.contact input, .contact textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Log In Section */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.login label {
  text-align: left;
  display: block;
}
.login h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login input {
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Sign Up Page */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.signup label {
  text-align: left;
  display: block;
}
.signup h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.signup input {
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.signup button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* Error Page */
.error404 h2 {
  font-size: 51px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 20px;
  text-align: center;
}

.backtohomepage {
  margin-left: 40%;
  font-size: 20px;
  padding: 20px;
}
.backtohomepage a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
}